bokeh==2.4.1
dlib==19.22.1
Flask==2.0.2
gunicorn==20.1.0
heroku
imutils==0.5.4
mylib==0.0.1
numpy==1.19.5
opencv-contrib-python==4.5.4.58
opencv-python
opencv-python-headless
pandas==1.3.4
schedule==1.1.0
scipy
bootstrap-py

